.aboutme {
    background-color: var(--bluedark);
}
.aboutme-info{
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 1rem;
    text-align: start;
    color: white;
    width: 80vw;
    margin: auto;
}

.avatarAbout{
    height: 7rem;
    border-radius: 50%;
}