.footer{
    display: flex;
    flex-direction: column;
    height: 10rem;
    background-color: var(--bluedark);
    color: white;
    justify-content: center;
}

.footerIcons a {
    font-size: 3rem;
    margin: 1rem;
    color: white;
    opacity: 0.7;
}

.footerIcons a:hover{
    opacity: 1;
}
