
.header{
    display: flex;
    justify-content: space-between;
    height: 8rem;
    background-color: var(--bluedark);

}

.header h1{
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--bluedark);
    display: flex;
    align-items: center;
    
}

#name-avatar{
    display: flex;
    background-color: var(--bluelight);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center;
}